<div class="container">
  <h1>List</h1>

  <% list.items.includes(:ingredient, ingredient: [:unit]).each do |item| %>
    <p>
      <%= "#{item.ingredient.name} - x#{item.quantity} #{item.ingredient.unit.symbol}"%>
      <%= toggle_checked_button(item) %>
    </p>
  <% end %>
</div>
