<div class="container">
  <h1>Ingredients</h1>

  <%= render @ingredients %>

  <h2>Create a new ingredient</h2>
  <%= render 'form', ingredient: @ingredient %>

  <br>

  <%= link_to 'Generate shopping list', lists_path, method: :post %>
</div>
