<div class="container">
  <h1>Ingredients</h1>

  <%= render @ingredients %>

  <h2>Create a new ingredient</h2>
  <%= render 'form', ingredient: @ingredient %>

  <% #link_to 'Faire les courses', lists_path %>
</div>
