<div class="container">
  <h1>Run</h1>

  <div class="allure">
  <p>Allure</p>
  <input type="text" id='allure-min' value='6'>
  <input type="text" id='allure-sec' value='0'>
  <button>Vitesse</button>
  <span class="result-vitesse">10</span> km/h
  </div>

  <div class="vitesse">
  <p>Vitesse</p>
  <input type="text" id='vitesse' value="10">
  <button>Allure</button>
  <span class="result-allure-min">6</span>' <span class="result-allure-sec">0</span>"
  </div>
</div>

<%= javascript_pack_tag 'run', 'data-turbolinks-track': 'reload', defer: true %>
